<aside class="left-sidebar">
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a routerLink="/home" class="text-nowrap logo-img">
            <img  src="../assets/images/logos/logo.png" width="100%" alt="" />
            <!-- <img *ngIf="EmpresaGeneral == 2" src="../assets/images/logos/petus.png" width="70%" alt="" /> -->
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse" (click)="onCloseMenu()">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
    </div>
    <div>
        <ng-container>
            <nav class="sidebar-nav scroll-sidebar custom-bg-color-silveragro" data-simplebar="">
                <ul id="sidebarnav">
                    <ng-container *ngFor="let menu of listaModulos">
                        <li class="nav-small-cap" [ngClass]="{'open': menu.isOpen}" (click)="toggleMenu(menu)" style="cursor: pointer;">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">{{menu.padre}}</span>
                            <i class="ti ti-chevron-right float-end arrow-icon"></i> <!-- Aquí añade el icono de flecha -->
                        </li>
                        <ng-container *ngIf="menu.isOpen">
                            <ng-container *ngFor="let opt of menu.opciones">
                                <!-- validar cuales se pueden mostrar y cuales no. -->
                                <li class="sidebar-item petus" *ngIf="!shouldHideOption(opt)" [routerLinkActive]="'active'">
                                    <a class="sidebar-link" [routerLink]="'/'+opt.urlModulo+'/'+opt._id" aria-expanded="false" >
                                        <span>
                                            <i class="ti ti-{{opt.iconoModulo}}"></i>
                                        </span>
                                        <span class="hide-menu">{{opt.nombreModulo}}</span>
                                    </a>
                                </li>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ul>
            </nav>
            <!-- <div class="col-md-2 col-xl-1 col-xs-4 col-4 p-3 mx-4 mb-2 bg-success-subtle rounded mt-3 custom-bg-color-silveragro" style="position: fixed; bottom: 10px; margin: 0px;">
                <div class="hstack gap-3">
                    <div class="john-title">
                        <h6 class="mb-0 fs-4 fw-semibold">
                            <a style="cursor: pointer;" (click)="tutoriales()">Tutoriales</a> 
                        </h6>
                    </div>
                </div>
            </div> -->
        </ng-container>
        <!-- <ng-container *ngIf="EmpresaGeneral == 2">
            <nav class="sidebar-nav scroll-sidebar custom-bg-color" data-simplebar="">
                <ul id="sidebarnav">
                    <ng-container *ngFor="let menu of listaModulos">
                        <li class="nav-small-cap" [ngClass]="{'open': menu.isOpen}" (click)="toggleMenu(menu)">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">{{menu.padre}}</span>
                            <i class="ti ti-chevron-right float-end arrow-icon"></i>
                        </li>
                        <ng-container *ngIf="menu.isOpen">
                            <ng-container *ngFor="let opt of menu.opciones">
                                <li class="sidebar-item petus" *ngIf="!shouldHideOption(opt)" [routerLinkActive]="'active'">
                                    <a class="sidebar-link" [routerLink]="'/'+opt.urlModulo+'/'+opt._id" aria-expanded="false">
                                        <span>
                                            <i class="ti ti-{{opt.iconoModulo}}"></i>
                                        </span>
                                        <span class="hide-menu">{{opt.nombreModulo}}</span>
                                    </a>
                                </li>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ul>
            </nav>
        </ng-container> -->
    </div>
</aside>

<div class="toast-container position-fixed bottom-0 start-0 p-3">
    <div id="liveToasts" class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header  custom-toast">
        <strong class="me-auto">Traslados Pendientes</strong>
        <small>Hace un momento</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" (click)="cerarToast()"></button>
      </div>
      <div class="toast-body">
        <ul>
          <li> Por favor verifique el traslado pendiente por ejecutar.</li>
        </ul>
      </div>
    </div>
</div>
  