<!--  Body Wrapper -->
<ng-container>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <img src="../../../../assets/images/logos/fondoAnimales.png" alt="" width="100%">
      <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center  background-div" style="background-color: #F8FAF8;">
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-3">
              <div class="card mb-0">
                <div class="card-body">
                  <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                    <img src="../assets/images/logos/logo.png" width="80%" alt="">
                  </a>
                  <!-- <p class="text-center">Your Social Campaigns</p> -->
                  <form action="" (submit)="cambioContrasena()">
                    <div class="mb-2">
                      <label for="Usuario" class="form-label">Contraseña Actual</label>
                      <input type="password" class="form-control" id="Usuario" name="Usuario" aria-describedby="emailHelp" [(ngModel)]="actual">
                    </div>
                    <div class="mb-2">
                      <label for="new_password" class="form-label">Nueva Contraseña</label>
                      <input type="new_password" class="form-control" id="new_password" name="new_password" aria-describedby="emailHelp" [(ngModel)]="nueva">
                    </div>
                    <div class="mb-4">
                      <label for="password" class="form-label">Confirmar Contraseña</label>
                      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="nConfirmar">
                    </div>
                    <button type="submit" class="btn btn-primary botonSilveragro w-100 py-8 fs-4 mb-4 rounded-2">Actualizar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer py-3">
        <div class="container">
          <div class="col-md-6 float-start">
            <p class="">Copyright © {{ yeard }}. Todos los derechos reservados. V{{ version }}</p>
          </div>
          <div class="col-md-6 float-start text-end">
            <p>
              <span *ngIf="demo" class="badge fw-semibold py-1 w-85 badgeDanger" style="padding:10px 10px;">DEMO</span>
              <span *ngIf="!demo" class="badge fw-semibold py-1 w-85 badgeSuccess">Produccion</span>
            </p>
          </div>
        </div>
      </div>
    </div>
</ng-container>

  <div class="footer2 py-3">
    <div class="container">
      <div class="col-md-6 float-start">
        <p class="">Copyright © {{ yeard }}. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 float-start text-end">
        <!-- <p>
          <span *ngIf="demo" class="badge fw-semibold py-1 w-85 badgeDanger" style="padding:10px 10px;">DEMO</span>
          <span *ngIf="!demo" class="badge fw-semibold py-1 w-85 badgeSuccess">Produccion</span>
        </p> -->
      </div>
    </div>
  </div>
