<!-- <div class="modal fade" id="modalEmpresa" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Seleccione empresa</h5>
      </div>
      <div class="modal-body">
          <button class="btn btn-lg btn-success  botonSilveragro float-start" (click)="silveragro()"> Silveragro</button>
          <button class="btn btn-lg btn-primary  float-end" (click)="petus()"> Petus</button>
      </div>
    </div>
  </div>
</div> -->
  
  <ng-container>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center" style="background-color: #F8FAF8;">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xl-3" >
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../assets/images/logos/logo.png" width="80%" alt="">
                </a>
                <!-- <p class="text-center">Your Social Campaigns</p> -->
                <form action="" (submit)="iniciarSesion()">
                  <div class="mb-2">
                    <label for="Usuario" class="form-label">Usuario</label>
                    <input type="email" class="form-control" id="Usuario" name="Usuario" aria-describedby="emailHelp" [(ngModel)]="login.Usuario">
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="login.password">
                  </div>
                  <button type="submit" class="btn btn-primary botonSilveragro w-100 py-8 fs-4 mb-2 rounded-2">Ingresar</button>
                  <div class="text-center">
                    <a class="text-dark w-100 py-8 fs-4 text-decoration-underline mb-2" (click)="recordar()"  style="cursor: pointer;">¿Has olvidado tu contraseña?</a>
                  </div>
                  <!-- <a href="home" class="btn btn-primary botonSilveragro w-100 py-8 fs-4 mb-4 rounded-2">Ingresar</a> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-container>
  <!-- <ng-container *ngIf="EmpresaGeneral == 2">
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" style="background-color: #F6E4B1 !important;">
      <div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
        <img src="../../../../assets/images/logos/Clip.png" alt="" class="perritos" style="position: absolute; left: 10%; bottom: 20px;">
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class=" col-10 col-md-6 col-lg-5 col-xl-3" style="width: 400px; margin-top: -200px;">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-start d-block w-100">
                  <img src="../assets/images/logos/logoPetus.png" width="40%" alt="">
                </a>
                <form action="" (submit)="iniciarSesion()">
                  <div class="mb-2">
                    <label for="Usuario" class="form-label bold">Usuario</label>
                    <input type="email" class="form-control input" id="Usuario" name="Usuario" aria-describedby="emailHelp" [(ngModel)]="login.Usuario">
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label bold">Contraseña</label>
                    <input type="password" class="form-control input" id="password" name="password" [(ngModel)]="login.password">
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" style="background-color: #566F84; border-color: #566F84;">Ingresar</button>
                  <div class="text-center">
                    <a class="text-dark w-100 py-8 fs-4 text-decoration-underline mb-2" (click)="recordar()"  style="cursor: pointer;">¿Has olvidado tu contraseña?</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </ng-container> -->
  <ng-container>
    <div class="footer py-3">
      <div class="container">
        <div class="col-md-6 float-start">
          <p class="">Copyright © {{ yeard }}. Todos los derechos reservados.</p>
        </div>
        <!-- <div class="col-md-6 float-start text-end"> 
          <p>
            <span *ngIf="demo" class="badge fw-semibold py-1 w-85 badgeDanger" style="padding:10px 10px;">DEMO</span>
            <span *ngIf="!demo" class="badge fw-semibold py-1 w-85 badgeSuccess">Produccion</span>
          </p>
        </div> -->
      </div>
    </div>
  </ng-container>
  <!-- <ng-container *ngIf="EmpresaGeneral == 2">
    <div class="footer2 py-3">
      <div class="container">
        <div class="col-md-6 float-start">
          <p class="">Copyright © {{ yeard }}. Todos los derechos reservados. V. {{ version }}</p>
        </div>
        <div class="col-md-6 float-start text-end"> 
          <p>
            <span *ngIf="demo" class="badge fw-semibold py-1 w-85 badgeDanger" style="padding:10px 10px;">DEMO</span>
            <span *ngIf="!demo" class="badge fw-semibold py-1 w-85 badgeSuccess">Produccion</span>
          </p>
        </div>
      </div>
    </div>
  </ng-container> -->
