<form (submit)="onSubmit()">
    <div class="container col-10 col-sm-10 col-md-10 col-lg-4 float-start mb-3">
      <label for="txtCodAsig" class="form-label">Código (ID Conteo)</label>
      <input type="text" class="form-control" id="txtCodAsig" name="txtCodAsig" [(ngModel)]="conteo.id_conteo" disabled="disabled">
    </div>
    <div class="container col-10 col-sm-10 col-md-10 col-lg-4 float-start mb-3">
      <label for="txtLinea" class="form-label">Línea</label>
      <input type="text" class="form-control" id="txtLinea" name="txtLinea" [(ngModel)]="conteo.linea_conteo" disabled="disabled">
    </div>
    <div class="container col-10 col-sm-10 col-md-10 col-lg-4 float-start mb-3">
        <label for="cboNumConAsg" class="form-label">Número Conteo</label>
        <select name="cboNumConAsg" id="cboNumConAsg" class="form-select" [(ngModel)]="conteo.numero_conteo" disabled="disabled">
            <option value="0">-- Seleccione Conteo --</option>
            <option value="1">Primer Conteo</option>
            <option value="2">Segundo Conteo</option>
            <option value="3">Tercer Conteo</option>
            <option value="4">Vencidos</option>
            <option value="5">Conteo de Diferencia</option>
        </select>
    </div>
    <div class="container col-10 col-sm-10 col-md-10 col-lg-4 float-start mb-3">
      <label for="txtBodega" class="form-label">Bodega</label>
      <input type="text" class="form-control" id="txtBodega" name="txtBodega" [(ngModel)]="conteo.codigo_bodega" disabled="disabled">
    </div>
    <div class="container col-10 col-sm-10 col-md-10 col-lg-4 float-start mb-3">
      <label for="txtCodigoBarras" class="form-label">Código Barras</label>
      <input 
        type="text" 
        class="form-control" 
        id="txtCodigoBarras" 
        name="txtCodigoBarras" 
        [(ngModel)]="conteo.codigo_barras" 
        (keyup.enter)="consultarArticulo()" 
        (blur)="consultarArticulo()"
        [disabled]="conteo.numero_conteo == null">
    </div>
    <div class="container col-10 col-sm-10 col-md-10 col-lg-4 float-start mb-3">
      <label for="txtArticulo" class="form-label">Artículo</label>
      <input type="text" class="form-control" id="txtArticulo" name="txtArticulo" [(ngModel)]="conteo.descripcion_articulo" disabled="disabled">
    </div>
    <div class="container col-10 col-sm-10 col-md-10 col-lg-4 float-start mb-3">
      <label for="cboLote" class="form-label">Selección de Lote</label>
      <select name="cboLote" id="cboLote" class="form-select" [(ngModel)]="conteo.lote_articulo" (change)="changeSelectLotes(cantidadInput)">
        <option value="0">-- Seleccione Lote --</option>
        <option *ngFor="let item of lotes" [value]="item.lote_articulo">{{ item.lote_articulo }} (Stock: {{ item.stock }})</option>
      </select>
    </div>
    <div class="container col-10 col-sm-10 col-md-10 col-lg-4 float-start mb-3">
      <label for="txtLote" class="form-label">Lote</label>
      <input type="text" class="form-control" id="txtLote" name="txtLote" [(ngModel)]="conteo.lote_articulo" disabled="disabled">
    </div>
    <div class="container col-10 col-sm-10 col-md-10 col-lg-4 float-start mb-3">
      <label for="txtCantidad" class="form-label">Cantidad</label>
      <input type="number" class="form-control" id="txtCantidad" name="txtCantidad" [(ngModel)]="cantidadContada" #cantidadInput>
    </div>
    <div class="container col-10 col-sm-10 col-md-10 col-lg-4 float-start mb-3">
      <label for="txtFechaVencimiento" class="form-label">Fecha Vencimiento</label>
      <input type="date" class="form-control" id="txtFechaVencimiento" name="txtFechaVencimiento" [(ngModel)]="conteo.fecha_vence" disabled="disabled">
    </div>
    <div class="container col-10 col-sm-10 col-md-10 col-lg-4 float-start mb-3 mt-3" >
      <button type="submit" class="btn btn-primary botonSilveragro mt-3">Guardar</button>
    </div>
  </form>